{% extends 'base.html' %}





{% block sidebar %}
    {% if user_groups %}
        {% for group in user_groups %}
            {% if group.name == 'Admin' %}
                {% include 'sidebarAdmin.html' %}
            {% elif group.name == 'Operator' %}
                {% include 'sidebarOperator.html' %}
            {% elif group.name == 'Penduduk' %}
                {% include 'sidebarPenduduk.html' %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock sidebar %}




{% block kontenLink %}
<li class="breadcrumb-item"><a href="{% url 'home:indexPenduduk' %}">{{content_link}}</a></li>
{% endblock kontenLink %}


{% block konten %}
    <!-- Main content -->
<section class="content">
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show{% if message.tags %} {{ message.tags }}{% endif %}" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="card text-center">
            <div class="card-header">
                <h3 class="card-title">SELAMAT DATANG</h3>
            </div>
            <div class="card-body">
                <p>Anda memiliki akses sebagai penduduk didalam sistem ini.</p>
                <p>Gunakan sidebar untuk navigasi dan pilih opsi yang Anda butuhkan.</p>
            </div>
            <!-- <div class="card-footer">
                <a href="{% url 'survey:tambahDataSurveyPenduduk' %}" class="btn btn-primary mr-2">Survey Penduduk</a>
                <a href="{% url 'survey:tambahDataSurveyRumahTangga' %}" class="btn btn-primary">Survey Rumah Tangga</a>
            </div> -->
        </div>
    </div><!-- /.container -->
</section>
<!-- /.content -->
{% endblock konten %}
    
    