{% extends 'base.html' %}







{% block sidebar %}
    {% if user_groups %}
        {% for group in user_groups %}
            {% if group.name == 'Admin' %}
                {% include 'sidebarAdmin.html' %}
            {% elif group.name == 'Operator' %}
                {% include 'sidebarOperator.html' %}
            {% elif group.name == 'Penduduk' %}
                {% include 'sidebarPenduduk.html' %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock sidebar %}

{% block kontenLink %}
<li class="breadcrumb-item"><a href="{% url 'akun:index' %}">{{content_link}}</a></li>
{% endblock kontenLink %}

{% block konten %}
<h2>Group List</h2>
<ul>
    {% for group in groups %}
    <li>{{ group.name }}</li>
    {% empty %}
    <li>No groups found.</li>
    {% endfor %}
</ul>
{% endblock konten%}