{% extends 'base.html' %}



{% block sidebar %}
    {% if user_groups %}
        {% for group in user_groups %}
            {% if group.name == 'Admin' %}
                {% include 'sidebarAdmin.html' %}
            {% elif group.name == 'Operator' %}
                {% include 'sidebarOperator.html' %}
            {% elif group.name == 'Penduduk' %}
                {% include 'sidebarPenduduk.html' %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock sidebar %}


{% block kontenLink %}
<li class="breadcrumb-item"><a href="{% url 'rumahtangga:index' %}">{{content_link}}</a></li>
{% endblock kontenLink %}

{% block konten %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show{% if message.tags %} {{ message.tags }}{% endif %}"
                            role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <h3 class="card-title">Tambah Data Rumah Tangga</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="{{ form_tambah_data.no_rumah_tangga.id_for_label }}">NO RUMAH TANGGA</label>
                                {{ form_tambah_data.no_rumah_tangga }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form_tambah_data.kepala_rumah_tangga.id_for_label }}">KEPALA RUMAH
                                    TANGGA</label>
                                {{ form_tambah_data.kepala_rumah_tangga }}
                            </div>
                            <div class="form-group">
                                <label
                                    for="{{ form_tambah_data.status_kepemilikan_tempat_tinggal.id_for_label }}">STATUS
                                    TEMPAT TINGGAL</label>
                                {{ form_tambah_data.status_kepemilikan_tempat_tinggal }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form_tambah_data.luas_lantai_tempat_tinggal.id_for_label }}">LUAS LANTAI
                                    TEMPAT TINGGAL (M<sup>2</sup>)</label>
                                {{ form_tambah_data.luas_lantai_tempat_tinggal }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form_tambah_data.jenis_lantai_tempat_tinggal.id_for_label }}">JENIS
                                    LANTAI TEMPAT TINGGAL</label>
                                {{ form_tambah_data.jenis_lantai_tempat_tinggal }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form_tambah_data.jenis_dinding_tempat_tinggal.id_for_label }}">JENIS
                                    DINDING TEMPAT TINGGAL</label>
                                {{ form_tambah_data.jenis_dinding_tempat_tinggal }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form_tambah_data.jenis_atap_tempat_tinggal.id_for_label }}">JENIS ATAP
                                    TEMPAT TINGGAL</label>
                                {{ form_tambah_data.jenis_atap_tempat_tinggal }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form_tambah_data.fasilitas_buang_air_besar.id_for_label }}">FASILITAS
                                    BUANG AIR BESAR</label>
                                {{ form_tambah_data.fasilitas_buang_air_besar }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form_tambah_data.sumber_penerangan_rumah.id_for_label }}">SUMBER PENERANGAN
                                    RUMAH</label>
                                {{ form_tambah_data.sumber_penerangan_rumah }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form_tambah_data.bahan_bakar_untuk_memasak.id_for_label }}">BAHAN BAKAR UNTUK
                                    MEMASAK</label>
                                {{ form_tambah_data.bahan_bakar_untuk_memasak }}
                            </div>
                            <div class="form-group">
                                <label
                                    for="{{ form_tambah_data.jumlah_konsumsi_daging_susu_ayam_dalam_seminggu.id_for_label }}">JUMLAH
                                    KONSUMSI DAGING/SUSU/AYAM DALAM SEMINGGU</label>
                                {{ form_tambah_data.jumlah_konsumsi_daging_susu_ayam_dalam_seminggu }}
                            </div>
                            <div class="form-group">
                                <label
                                    for="{{ form_tambah_data.jumlah_membeli_pakaian_baru_dalam_setahun.id_for_label }}">JUMLAH
                                    MEMBELI PAKAIAN BARU DALAM SETAHUN</label>
                                {{ form_tambah_data.jumlah_membeli_pakaian_baru_dalam_setahun }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form_tambah_data.jumlah_makan_dalam_sehari.id_for_label }}">JUMLAH MAKAN
                                    DALAM SEHARI</label>
                                {{ form_tambah_data.jumlah_makan_dalam_sehari }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form_tambah_data.mampu_membayar_biaya_pengobatan.id_for_label }}">MAMPU
                                    MEMBAYAR BIAYA PENGOBATAN</label>
                                {{ form_tambah_data.mampu_membayar_biaya_pengobatan }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form_tambah_data.sumber_air_minum.id_for_label }}">SUMBER AIR MINUM RUMAH
                                    TANGGA</label>
                                {{ form_tambah_data.sumber_air_minum }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form_tambah_data.memiliki_simpanan_aset.id_for_label }}">MEMILIKI
                                    SIMPANAN ASET</label>
                                {{ form_tambah_data.memiliki_simpanan_aset }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form_tambah_data.status_rumah_tangga.id_for_label }}">STATUS RUMAH
                                    TANGGA</label>
                                {{ form_tambah_data.status_rumah_tangga }}
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Kirim</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock konten%}