{% load static %}






<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'home:indexAdmin' %}" class="brand-link">
        <img src="{% static 'dist/img/logo.png' %}" alt="AKRT Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">AKRT DESA RIGI</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="{% url 'home:indexAdmin' %}" class="nav-link">
                        <i class="nav-icon fas fa-home" aria-hidden="true"></i>
                        <p>HOME</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-database"></i>
                        <p>
                            MASTER DATA
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'akun:index' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>USER</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'penduduk:index' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>PENDUDUK</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'rumahtangga:index' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>RUMAH TANGGA</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'rumahtangga:bantuan' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>BANTUAN</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-folder-open"></i>
                        <p>
                            KLASIFIKASI
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'klasifikasi:index' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>PREDIKSI</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'klasifikasi:laporanPrediksi' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>HASIL PREDIKSI</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'klasifikasi:modeling' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>MODELING</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <!-- <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-file-archive"></i>
                        <p>
                            SURVEI
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'survey:index' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>DATA SURVEY</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'survey:tambahDataSurveyRumahTangga'%}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>RUMAH TANGGA</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'survey:tambahDataSurveyPenduduk' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>PENDUDUK</p>
                            </a>
                        </li>
                    </ul>
                </li> -->
                <li class="nav-item">
                    <a href="{% url 'survey:index' %}" class="nav-link">
                        <i class="nav-icon fas fa-calendar-day"></i>
                        <p>SURVEI</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'rumahtangga:laporan' %}" class="nav-link">
                        <i class="nav-icon fas fa-file-download"></i>
                        <p>LAPORAN</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>